In [35]:
!pip install geopandas==0.3.0
!pip install pyshp==1.2.10
!pip install shapely
!pip install chart-studio

Requirement already satisfied: geopandas==0.3.0 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (0.3.0)
Requirement already satisfied: pandas in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from geopandas==0.3.0) (1.0.5)
Requirement already satisfied: shapely in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from geopandas==0.3.0) (1.7.1)
Requirement already satisfied: fiona in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from geopandas==0.3.0) (1.8.17)
Requirement already satisfied: descartes in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from geopandas==0.3.0) (1.1.0)
Requirement already satisfied: pyproj in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from geopandas==0.3.0) (2.6.1.post1)
Requirement already satisfied: pytz>=2017.2 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from pandas->geopandas==0.3.0) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from pandas->geopandas==0.3.0) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from pandas->geopandas==0.3.0) (1.18.5)
Requirement already satisfied: attrs>=17 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (19.3.0)
Requirement already satisfied: munch in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (2.5.0)
Requirement already satisfied: cligj>=0.5 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (0.6.0)
Requirement already satisfied: click<8,>=4.0 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (7.1.2)
Requirement already satisfied: six>=1.7 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (1.15.0)
Requirement already satisfied: click-plugins>=1.0 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (1.1.1)
Requirement already satisfied: matplotlib in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from descartes->geopandas==0.3.0) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->descartes->geopandas==0.3.0) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->descartes->geopandas==0.3.0) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->descartes->geopandas==0.3.0) (0.10.0)
Requirement already satisfied: pyshp==1.2.10 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (1.2.10)
Requirement already satisfied: shapely in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (1.7.1)
Collecting chart-studio
  Downloading chart_studio-1.1.0-py3-none-any.whl (64 kB)
     |████████████████████████████████| 64 kB 897 kB/s eta 0:00:011
Requirement already satisfied: requests in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from chart-studio) (2.24.0)
Requirement already satisfied: six in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from chart-studio) (1.15.0)
Requirement already satisfied: plotly in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from chart-studio) (4.11.0)
Requirement already satisfied: retrying>=1.3.3 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from chart-studio) (1.3.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from requests->chart-studio) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from requests->chart-studio) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from requests->chart-studio) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/Alex-Reyes/opt/anaconda3/lib/python3.8/site-packages (from requests->chart-studio) (3.0.4)
Installing collected packages: chart-studio
Successfully installed chart-studio-1.1.0

In [37]:
import plotly.figure_factory as ff
import geopandas as gp
import numpy as np
import pandas as pd
import plotly.offline as py
from chart_studio.plotly import plot, iplot

In [3]:
# https://chart-studio.plotly.com/~jackp/18292/plotting-d3js-county-choropleth-maps-in/#/
# df = gp.read_file("/Users/jackparmer/Downloads/cb_2016_us_county_500k/cb_2016_us_county_500k.shp")

df = gp.read_file('Resources/cb_2018_us_zcta510_500k.shp')

# https://www.census.gov/geographies/mapping-files/time-series/geo/carto-boundary-file.html

# df_sample = pd.read_shp('cb_2018_us_zcta510_500k.shp')
# df_sample_r = df_sample[df_sample['STNAME'] == 'California']

# values = df_sample_r['TOT_POP'].tolist()
# fips = df_sample_r['FIPS'].tolist()

# endpts = list(np.mgrid[min(values):max(values):4j])
# colorscale = ["#030512","#1d1d3b","#323268","#3d4b94","#3e6ab0",
#               "#4989bc","#60a7c7","#85c5d3","#b7e0e4","#eafcfd"]
# fig = ff.create_choropleth(
#     fips=fips, values=values, scope=['California'], show_state_data=True,
#     colorscale=colorscale, binning_endpoints=endpts, round_legend_values=True,
#     plot_bgcolor='rgb(229,229,229)',
#     paper_bgcolor='rgb(229,229,229)',
#     legend_title='Population by County',
#     county_outline={'color': 'rgb(255,255,255)', 'width': 0.5},
#     exponent_format=True,
# )
# fig.layout.template = None
# fig.show()

In [4]:
df.tail()

,ZCTA5CE10,AFFGEOID10,GEOID10,ALAND10,AWATER10,geometry
33139,10983,8600000US10983,10983,5267037,16676,"POLYGON ((-73.96564099999999 41.027873, -73.96..."
33140,50460,8600000US50460,50460,93166133,0,"POLYGON ((-92.806293 43.230259, -92.8035419999..."
33141,40870,8600000US40870,40870,18226594,201441,"POLYGON ((-83.19264199999999 36.916502, -83.19..."
33142,40914,8600000US40914,40914,32269366,419039,"POLYGON ((-83.62747899999999 37.074189, -83.62..."
33143,52750,8600000US52750,52750,77963307,472441,"POLYGON ((-90.44672299999999 41.891512, -90.44..."

In [5]:
type(df["geometry"])

geopandas.geoseries.GeoSeries

In [31]:
x,y=df['geometry'][3].exterior.xy

In [30]:
print(df['geometry'][24].type)
df['geometry'][24]

Polygon

In [28]:
df['geometry'][24].simplify(0.2)

In [32]:
df['geometry'][18].exterior.xy[1][0]

33.302729

In [33]:
df['geometry'][24].centroid.xy

(array('d', [-88.41944909283772]), array('d', [42.45620838199368]))

In [39]:
plot_data = []
for index,row in df.iterrows():
    if df['geometry'][index].type == 'Polygon':
        x,y = row.geometry.exterior.xy
        c_x,c_y = row.geometry.centroid.xy
    elif df['geometry'][index].type == 'MultiPolygon':
        x = [poly.exterior.xy[0] for poly in df['geometry'][index]]
        y = [poly.exterior.xy[1] for poly in df['geometry'][index]]
        x_c = [poly.centroid.xy[0] for poly in df['geometry'][index]]
        y_c = [poly.centroid.xy[1] for poly in df['geometry'][index]]        
    else: 
        print('stop')
    county_outline = dict(
            type = 'scatter',
            showlegend = False,
            legendgroup = "shapes",
            line = dict(color='black', width=1),
            x=x,
            y=y,
            fill='toself',
            fillcolor = 'purple',
            hoverinfo='none'
    )
    hover_point = dict(
            type = 'scatter',
            showlegend = False,
            legendgroup = "centroids",
            zipcode = row.ZCTA5CE10,
            marker = dict(size=2),
            x=c_x,
            y=c_y,
            fill='toself',
            fillcolor = 'purple'            
    )
    plot_data.append(county_outline)
    plot_data.append(hover_point)

NameError: name 'c_x' is not defined

In [9]:
# Created Pandas DataFrame to rename (ZCTA5CE10 as Zipcode)

df_pd = pd.DataFrame(df)
df_pd = df_pd.rename(columns={"ZCTA5CE10":"Zipcode"})

In [10]:
df_pd.columns

Index(['Zipcode', 'AFFGEOID10', 'GEOID10', 'ALAND10', 'AWATER10', 'geometry'], dtype='object')

In [11]:
# Converted df Zipcode column to int

df_pd["Zipcode"] = df_pd["Zipcode"].astype(int)

In [12]:
# Saving a CSV file named "california_census_data"

california_data = pd.read_csv("Resources/california_census_data.csv")

In [13]:
# Converted df Zipcode column to int

california_data["Zipcode"] = california_data["Zipcode"].astype(int)

In [14]:
california_merged = pd.merge(df_pd, california_data, how="inner", on="Zipcode")
# type(california_data["Zipcode"][1])

In [15]:
california_merged.head()

,Zipcode,AFFGEOID10,GEOID10,ALAND10,AWATER10,geometry,Population,Poverty Count,poverty_male,poverty_female,...,poverty_family_single_female,employment_labor_force,employment_not_labor_force,employment_employed,employment_unemployed,Poverty Rate,index,City,County,Type
0,93308,8600000US93308,93308,818436705,1790905,"(POLYGON ((-118.963713 35.595182, -118.960574 ...",54042.0,12454.0,5351.0,7103.0,...,1549.0,23030.0,17946.0,20097.0,2921.0,23.045039,1197,Bakersfield,Kern,Standard
1,93060,8600000US93060,93060,307974335,2959287,"POLYGON ((-119.268089 34.47578, -119.266678 34...",34226.0,5412.0,2532.0,2880.0,...,550.0,16746.0,8813.0,15336.0,1410.0,15.812540,1087,Santa Paula,Ventura,Standard
2,93960,8600000US93960,93960,528427594,13212990,"POLYGON ((-121.563805 36.49934, -121.554078 36...",26788.0,2374.0,1008.0,1366.0,...,110.0,7191.0,14019.0,6745.0,446.0,8.862177,1469,Soledad,Monterey,Standard
3,93235,8600000US93235,93235,7462346,0,"POLYGON ((-119.233867 36.38523, -119.233662 36...",3804.0,1306.0,743.0,563.0,...,36.0,1534.0,1291.0,1385.0,149.0,34.332282,1143,Ivanhoe,Tulare,Standard
4,93622,8600000US93622,93622,918202049,5458455,"(POLYGON ((-120.794441 36.893821, -120.781957 ...",10298.0,2766.0,1220.0,1546.0,...,352.0,4746.0,2722.0,4005.0,741.0,26.859584,1339,Firebaugh,Fresno,Standard

In [16]:
# Saving a CSV file named "california_merged_data"

california_merged.to_csv("Resources/california_merged_data.csv", encoding="utf-8", index=False)

In [17]:
import plotly.figure_factory as ff
import geopandas as gp
# df = gp.read_file("/Users/jackparmer/Downloads/cb_2016_us_county_500k/cb_2016_us_county_500k.shp")

# import numpy as np
# import pandas as pd

df_f = gp.read_file('Resources/california_census_data.csv')

In [18]:
# Problem - Geometry coordinates were knocked off

df_f.head()

,Population,Poverty Count,poverty_male,poverty_female,poverty_white_alone,poverty_black_alone,population_american_indian_alone,poverty_asian_alone,poverty_native_hawaiian_alone,poverty_two_or_more_races,...,employment_not_labor_force,employment_employed,employment_unemployed,Zipcode,Poverty Rate,index,City,County,Type,geometry
0,58738.0,18654.0,8736.0,9918.0,5512.0,1982.0,57.0,24.0,0.0,182.0,...,16142.0,23182.0,2922.0,90001,31.757976097245393,1,Los Angeles,Los Angeles,Standard,None
1,52856.0,17795.0,7735.0,10060.0,6049.0,3905.0,270.0,110.0,0.0,249.0,...,16206.0,18957.0,2660.0,90002,33.666944150143784,2,Los Angeles,Los Angeles,Standard,None
2,70490.0,23212.0,10498.0,12714.0,5133.0,6757.0,241.0,28.0,0.0,253.0,...,19607.0,26755.0,3835.0,90003,32.92949354518371,3,Los Angeles,Los Angeles,Standard,None
3,62733.0,11985.0,5475.0,6510.0,5027.0,643.0,34.0,2403.0,0.0,225.0,...,15009.0,34265.0,2624.0,90004,19.10477738989049,4,Los Angeles,Los Angeles,Standard,None
4,39562.0,11300.0,4979.0,6321.0,2302.0,815.0,44.0,2798.0,0.0,131.0,...,9063.0,21430.0,2040.0,90005,28.562762246600272,5,Los Angeles,Los Angeles,Standard,None

In [19]:
df_f['geometry']

# df_f["Zipcode"]['90242']

0       None
1       None
2       None
3       None
4       None
        ...
1546    None
1547    None
1548    None
1549    None
1550    None
Name: geometry, Length: 1551, dtype: object

In [20]:
type(df_f)

geopandas.geodataframe.GeoDataFrame